	.bbrgy{
		resize:none;
		font-family: Times;
		height: 30px;
		max-height: 30px;
		width: 400px;
		margin-left: 60px;
		font-size: 16px;
		border: none;
		font-style: italic;
		/*visibility: hidden;*/
	}